.red {
    background: red;
    color: white;
}

.blue {
    background: blue;
    color: #ffffff;
}

.title {
    background: blue;
    color: white;
    text-transform: capitalize;
}

.btn {
    margin: 1rem;
    font-size: 1.5rem;
    background: orangered;
    color: white;
    border-style: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
    display: inline-block;
    /* margin-top: 100vh; */
}
.box {
    margin: 1rem;
    margin-left: -3rem;
    width: 150px;
    height: 150px;
    background: red;
}